# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# Pytest
.pytest_cache/
.cache/
.coverage

# Reports
htmlcov/
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# IDEs
.idea/


